* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	
}

body {
	background-color: #e2e2e2;
}

p {
	margin-top: 100px;
	position: absolute;
	z-index: 0;
}

.header {
	background-color: #000;
	position: fixed;
	width: 100%;
	z-index: 1;
	display: inline-block;
	float: left;
}

.header a {
	color: #fff;
	float: right;
	text-decoration: none;
	display: inline-block;
	margin: 40px;
	text-transform: uppercase;
	font-family: Arial;
}

.header a:hover {
	color: #000;
	background-color: #fff;
}

.logo {
	height: 50px;
	margin: 20px;
	display: inline-block;
}



