a{
	text-decoration: none;
	color: red;
}
.header{
	text-align: center;
}
#header_1 {
	background-color: green;
}
#header_2 {
	background-color: red;
}
#p-1 {
	border: 2px solid green;
	font-weight: bold;
}
#p-2 {
	border: 2px solid red;
	font-style: italic;
}
#header_3 {
	background-color: blue;
}
#header_4 {
	background-color: #f0af0a;
}
#p-3 {
	border: 2px solid blue;
	text-decoration: line-through;
}
#p-4 {
	border: 2px solid #f0af0a;
	text-decoration: underline;
}
